body {
    margin: 0;
    background-color: #1C1C1C;
    color : white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

.hero{
    background-color: #1F2937;
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.content {
    width: 500px;
    margin-bottom: 40px; 
}

.pass{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

#pass1, #pass2{
    width: 211px;
    background: #273549; 
    border-radius: 5px;
    color: #4ADF86;
    text-align: center;
    padding: 10px 0 ;
    cursor: pointer;
    min-height: 20px;
}

button{
    background: #4ADF86;
    color: #1F2937;
    border-style: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

hr {
    color: gray;
    border-style: none;
    border: solid 1px #2F3E53;
}

p{
    font-weight: 400;
    color: #D5D4D8;
    font-size: 16px;
}

span{
    color: #4ADF86;
}

h1{
    width: 360px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
}