body {
    margin: 0;
    background-color: #1C1C1C;
    color : white;
    font-family: 'Inter', sans-serif;
}

.hero{
    background-color: #1F2937;
    width: 550px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.content {
    width: 446px;
    margin-bottom: 40px; 
}

.pass{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

#pass1, #pass2{
    width: 211px;
    background: #273549; 
    border-radius: 5px;
    color: #4ADF86;
    text-align: center;
    padding: 10px 0 ;
    cursor: pointer;
}

button{
    background: #4ADF86;
    color: white;
    border-style: none;
    padding: 7px 13px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 30px;
    font-weight: lighter;
    font-size: 13px;
}

hr {
    color: gray;
    border-style: none;
    border: solid 0.01px grey;
}

p{
    font-weight: 400;
    color: #D5D4D8;
    font-size: 16px;
}

span{
    color: #4ADF86;
}

h1{
    width: 300px;
    font-family: 'Karla', sans-serif;
    font-size: 33px;
}